@import "../../variables.scss";

.logo {
  width: 200px;
  @media (max-width: 425px) {
    width: 100px;
  }
}
.navBar-style {
  background-color: $primary-color;
  margin-top: -10px;
  padding: 20px;
}

.box-logo {
  margin-right: 70px;
}

.text-hover,
#text-hover {
  @media (min-width: 769px) {
    transition: 0.3s;
    text-decoration: none;
    color: $secondary-color;

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
  transition: 0.3s;
  text-decoration: none;
  color: $secondary-color;
}
